body{
	font-family: "Arial", "", fantasy;
	color: #000030;
	background-color: #7E8F7C;
}

h1 {
	font-size: 1.3em;
	text-align: center
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#EDBB99; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #EDBB99;
}

p {
	font-size: 1.3em;
	text-align: center;
	color: #000030;
}

